
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
        
    }

    .right{

    }
    z-index: 1000;
}


.main{

    min-height: calc(100vh - 64px - 72px);
}

.footer{
    text-align: center;
    font-size: large;
}