
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;

    .left{

    }

    .right{
        
    }
}

.main{
    margin-bottom: 20px;
}


.footer{
    text-align: center;
}